<!DOCTYPE html>
<html lang="en">
<style>
    table{
    border-collapse: collapse;
    width: 100%;
    }
    td, th {border: 1px solid #435259;}
    .btn {
    border: none;
    background-color: #A9CDDF;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    }

</style>
<head></head>
<body>
<h1>Comments</h1><br><br>

<form action="/addAuth" method="POST">
    <table>
    <tr bgcolor="#A9CDDF">
    <th>Email</th>
    <th>Time</th>
    <th>Description</th>
    {% for item in comments %}
    <tr>
        <td>{{item.email}}</td>
        <td>{{item.time_posted}}</td>
        <td>{{item.description}}</td>
        <script>
document.getElementById("item");
</script>
    </tr>
    {% endfor %}
</table>
    Comment here for item id {{val}}
    <br></form>

    <form action="/addAuth" method="POST">

<textarea rows="6" cols="70" name="comm" required></textarea>
    <input type="submit" value="Post">
                <input type="hidden" name='item_id' value="{{val}}">
</form>
 <button class="back"><a href="/home">Go back</a></button>
</body>
</html>

