
<style>
input[type=submit]{
 border: none;
    background-color: #A9CDDF;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.back{
     border: none;
    background-color: #ff0000;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;}
</style>
<head>
</head>
<body>
<h1>Delete Friend from Your Friend Group</h1> <br><br>
<form action="/delFriendAuth" method="POST">
    Email: <input type="text" name="mem_email"/></br>
    <select class="form-control" name="fg_name">
        {% for item in groups %}
        <option value="{{item.fg_namne}}">{{item.fg_name}}</option>
        {% endfor %}
    </select>

    <input type="submit" value=Delete>
    <button class="back"><a href="/home">Go back</a></button>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}
</form>
</body>

</html>