<html>
<style>

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit]{
 border: none;
    background-color: #A9CDDF;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

back{
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;}


</style>
<head>
</head>
<body>
<h1>Login to your Account</h1><br><br>
<form action="/loginAuth" method="POST">
    Email: <input type="text" name="email" required/> </br>
    Password: <input type="password" name="password" required/></br>
    <input type="submit" value=Login>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}
</form>

<button class="back"><a href="/">Go back</a></button>

</body>


</html>
