<html>
<style>
table{
    border-collapse: collapse;
    width: 100%;
    }
    td, th {border: 1px solid #435259;}

.back{
     border: none;
    background-color: #ff0000;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;}
</style>

<head>
</head>
<body>

<h1>Manage Your Tags</h1> 

Here are all of your pending tags
    <table>
        <tr bgcolor="#A9CDDF">
        <th>Tagger</th>
        <th>Item ID</th>
        <th>Tag Time</th>
        {% for item in tags %}
        <tr>
            <td>{{item.tagger}}</td>
            <td>{{item.item_id}}</td>
            <td>{{item.tag_time}}</td>
        </tr>
        {% endfor %}
    </table>
    <br></br>


Accept Tags <br>Item ID's:</br>
<form action="/tagAcc" method="POST">
        <select class="form-control" name="item_id">
            {% for item in tags %}
            <option value="{{item.item_id }}">{{item.item_id}}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Accept Tag" />
        <br>
</form>


Decline Tags<br>Item ID's</br>
<form action='/tagDec' method="POST">
    <select class="form-control" name="item_id">
        {% for item in tags %}
        <option value="{{item.item_id }}">{{item.item_id}}</option>
        {% endfor %}
    </select>
    <br>
    <input type="submit" value="Decline Tag" />
    <br></br>

Tag Someone!</br>
<form action='/tagSome' method="POST">
    Their Email: <input type="text" name="y_email" required/> </br>
    Item ID: <input type="text" name="item_id"/> </br>

    <input type="submit" value="Tag Them!" />

<br></br>
    <button class="back"><a href="/home">Go back</a></button>
</body>
</html>
