<html>
<style>
input[type=submit]{
 border: none;
    background-color: #A9CDDF;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.back{
     border: none;
    background-color: #ff0000;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;}
</style>
<head>
</head>
<body>
<h1>Where would you like to share?</h1> <br><br>
<form action="/sharefgAuth" method="POST">
    Friend Group: <input type="text" name="friend_group" required/> </br>

    <input type="submit" value=sharefg>
    <button class="back"><a href="/">Go back</a></button>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}
</form>
</body>

</html>