<html>
<style>
input[type=submit]{
 border: none;
    background-color: #A9CDDF;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}
button{
 border: none;
    background-color: #A9CDDF;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.back{
     border: none;
    background-color: #ff0000;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;}
</style>
<head>
</head>
<body>
<h1>What would you like to share?</h1> 
<form action="/sharePriAuth" method="POST">
    Item Name: <input type="text" name="item_name" required/> </br>
    URL: <input type="text" name="file_path"/> </br>
    Friend Groups: <input type="text" name = "fg_name" required/></br>
    Seperate all friend groups with a ', '
    <br></br>
    <input type="submit" name = "private" value="Share Privately"></br>
    <button class="back"><a href="/home">Go back</a></button>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}
</form>
</body>

</html>